.swiper-slide {
    background: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    
  }
  .swiperclass{
     height:800px;
     width:auto;
     padding: 0;
  }
